@media only screen and (max-width: 1023px) {
    .Footer {
        flex-direction: column;
    }
    h5 {
        font-size: 15pt;
    }
    h3 {
        font-size: 12pt;
    }
    .footer1st {
        margin-bottom: 10px;
    }
}